<div id="palm-dialog-content" class="palm-dialog-content">
<div class="palm-dialog-title" style="font-size:20px;">Welcome to Jujube!</div>
<div class="palm-dialog-separator"></div>
<table>
	<tr>
		<td width="250px">
			<div class="palm-dialog-title" x-mojo-loc='' style="padding-top:2px;font-size:18px;">How old are you?</div>
			<div class="palm-dialog-title" x-mojo-loc='' style="padding-top:0px;font-size:14px;">(This data must be accurate)</div>
			
		</td>
		<td valign="top">
			<div id="agePicker" x-mojo-element="IntegerPicker" style="float:right;"></div>
		</td>
	</tr>
</table>
<div class="palm-dialog-separator"></div>
		<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="userName" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
</div>
</div>

<div class="palm-dialog-buttons">
	<div id="createProfileBtn" class="palm-button affirmative" x-mojo-touch-feedback="momentary">
        <div class="palm-button-wrapper" x-mojo-loc="">Create Profile</div>
    </div>
</div>