<div id="palm-dialog-content" class="palm-dialog-content">
<div class="title">&nbsp;</div>
<div class="palm-dialog-separator"></div>
<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="tagName" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
</div>
</div>
<div class="palm-dialog-buttons">
	<div id="createTagBtn" class="palm-button affirmative" x-mojo-touch-feedback="momentary">
        <div class="palm-button-wrapper" x-mojo-loc="">Submit Tag</div>
    </div>
	<div id="createTagBtn" class="palm-button" x-mojo-touch-feedback="momentary">
        <div id="cancelTagBtn" class="palm-button-wrapper" x-mojo-loc="">Cancel</div>
    </div>
</div>
