<div id="palm-dialog-content" class="palm-dialog-content">
<div class="title">&nbsp;</div>
<div class="palm-dialog-separator"></div>
<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="playListName" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
</div>
</div>
<div class="palm-dialog-buttons">
	<div id="createPlayListBtn" class="palm-button affirmative" x-mojo-touch-feedback="momentary">
        <div class="palm-button-wrapper" x-mojo-loc="">Create Playlist</div>
    </div>
	<div id="createPlayListBtn" class="palm-button" x-mojo-touch-feedback="momentary">
        <div id="cancelPlayListBtn" class="palm-button-wrapper" x-mojo-loc="">Cancel</div>
    </div>
</div>
