<div class="palm-row" x-mojo-tap-highlight="momentary" style="background-color:#{color};">
	<div class="palm-row-wrapper">
		<div class="palm-dashboard-icon-container album-icon-container">
        <div id="dashboard-icon">
        	<img src="images/artists-icon.png" style="margin-top:20px;margin-left:-6px;"/></img></div>			
      </div>
	  <table height="80">
	  	<tr>
	  		<td>
	  			<div style="margin-left:50px;font-size:24px;color:#4D544D;">
				<div style='width:260px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-moz-binding:url(ellipsis.xml#ellipsis);'>#{name}</div>
				</div>
	  		</td>
	  	</tr>
	  </table> 		
	</div>
</div>	