<div class="palm-row" x-mojo-tap-highlight="momentary" style="background-color:#{color};">
	<div class="palm-row-wrapper">
		<div class="palm-dashboard-icon-container album-icon-container">
        <div id="dashboard-icon">
        	<img src=#{icon} class="album"/></img></div>			
      </div>
	  <table height="95">
	  	<tr>
	  		<td>
	  			<div style="margin-left:86px;font-size:17px;color:#4D544D;">
				<div style='width:220px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-moz-binding:url(ellipsis.xml#ellipsis);'>#{song}</div></div>
	  		</td>
	  	</tr>
		<tr>
			<td>
				<div style="margin-top:4px;margin-left:86px;font-size:17px;color:#4D544D;">#{artist}</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="margin-top:4px;margin-left:86px;font-size:17px;color:#4D544D;">Released: #{released}</div>
			</td>
		</tr>
	  </table> 		
	</div>
</div>