<div id="footer" style="position:fixed;z-index:1;height:66px;max-height:66px;">
<center>
<span style="font-size:32px;color:#F1F1F1;margin:0px;padding:0px;"><img src="images/globe.png" style="margin-top:10px;"></img></span>
<div style="font-size:12px;color:#F1F1F1;margin:-7px;padding:0px;" id="headLine"></div>
</center>
</div>
<div id="scrim">
  <div id="large-activity-spinner" x-mojo-element="Spinner" class="spinCategory"></div>
</div>
<br /><br /><div style="margin-top:18px;"></div>
<div class="palm-group">
	<div class="palm-group-title">
		Step 1: Name of the song
	</div>
	<div class="palm-list">  
		<div class='palm-row single'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="songName" x-mojo-element="SmartTextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		Step 2: Name of the artist
	</div>
	<div class="palm-list">  
		<div class='palm-row single'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="artistName" x-mojo-element="SmartTextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
	<div class="palm-group-title">
		Step 3: Year the song was released
	</div>
	<div class="palm-list">  
		<div class='palm-row single'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="yearReleased" x-mojo-element="SmartTextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="color:#3E3C3D;font-size:15px;margin-left:12px;">Please be sure to check your spelling and capatilization before submitting a song. If you are unsure about any information, please
research this before hand. Thank You!</div>
<center>
<div id="submitBtn" class="palm-button affirmative" style="text-align:center;width:300px;margin-top:8px;" x-mojo-touch-feedback="momentary">Submit</div>
</center>
