<div id="palm-dialog-content" class="palm-dialog-content">
<div class="palm-dialog-title" style="font-size:20px;">Find My Song</div>
<div class="palm-dialog-separator"></div>
<div class="palm-dialog-separator"></div>
<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="tagName" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
</div>
</div>

<div class="palm-dialog-buttons">
	<div id="searchBtn" class="palm-button affirmative" x-mojo-touch-feedback="momentary">
        <div class="palm-button-wrapper" x-mojo-loc="">Search</div>
    </div>
</div>